header {
    position: fixed;

}

.apple p {
    position: absolute;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
    width: 500px;
    height: 23px;
    left: 28px;
    top: -25px;
}

.apple img {
    position: absolute;
    height: 23px;
    width: 23px;
}

body {
    display: flex;
}

.iCloud {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 500px;
}
.dotteds {
    display: flex;
    width: 200px;
    height: 20px;
    right: 100px;
}

.iCloud img {
    display: flex;
    top: 50px;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 250px;
    left: 490px;
    padding: -50px;
}

main img:hover {
    content: url();
}

h1 {
    position: absolute;
    font-size: 100px;
    font-family: Helvetica, sans-serif; 
    position: absolute;
    left: 475px;
    bottom: 100px;
}

main a {
    position: absolute;
    left: 570px;
    bottom: 118px;
    border-radius: 25px;
    text-decoration: none;
    font-family: Helvetica, sans-serif; 
    color: white;
    background-color: black;
    padding: 10px 38px 10px 38px;
    font-size: 20px;
}



main a:hover {
    background-color: grey;
}

.files {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    left: 120px;
    opacity: 0.9;
    width: 1070px;
    height: 100px;
}
