img {
    width: 23px;
    height: 23px;
    padding: 5px;
}

body {
    display: flex;
}

p {
    position: absolute;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
    left: 38px;
    padding-top: 6px;
}

.iCloud {
    display: flex;
    justify-content: center;
}
.dotteds {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
}

main img {
    displa: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 250px;
    left: 500px;
    padding: 10px;
}

main img:hover {
    content: url();
}

h1 {
    font-size: 100px;
    font-family: Helvetica, sans-serif; 
    position: relative;
    left: 475px;
    bottom: 100px;
}

main a {
    position: relative;
    left: 570px;
    bottom: 118px;
    border-radius: 25px;
    text-decoration: none;
    font-family: Helvetica, sans-serif; 
    color: white;
    background-color: black;
    padding: 10px 38px 10px 38px;
    font-size: 20px;
}



main a:hover {
    background-color: grey;
}
